/* CSS Document */

body {
    margin: 0;
}
nav {
    background-image: linear-gradient(rgba(80, 80, 80, 0.97), rgba(20, 20, 20, 0.97));
    width: 100%;
    padding: 15px 0;
    box-shadow: 0 0 10px #000000;
    position: fixed;
    top: 0;
}
.nav-content {
    width: 90%;
    margin: 0 auto;
}
.nav-logo {
    height: 90px;
}
.nav-links {
    list-style: none;
    float: right;
    display: flex;
    margin-top: 32px;
}
.nav-links li {
    font-family: 'Orbitron', sans-serif;
    margin: 0 20px;
    font-size: 1.2vw;
    color: #d6d6d6;
    transition: color 0.5s;
}
.nav-links li:hover {
    color: #ffffff;
}
a {
    text-decoration: none;
    color: #ffffff;
}
.projects {
    background-color: #1A1A1A;
}
table {
    padding-top: 124px;
    border-spacing: 20px;
    width: 100%;
    height: 100vh;
}
.gallery-group {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 33.33%;
    display: table-cell;
    box-shadow: 0 0 40px #434E41;
}
#gallery-group-1 {
    animation: cycleGroup1 20s infinite;
    animation-timing-function: ease-in-out;
}
@keyframes cycleGroup1 {
    0% {
        background-image: url(images/gallery-group-1/shopping-center-1.jpg);
    }
    33.33% {
        background-image: url(images/gallery-group-1/shopping-center-2.jpg);
    }
    66.66% {
        background-image: url(images/gallery-group-1/shopping-center-3.jpg);
    }
    100% {
        background-image: url(images/gallery-group-1/shopping-center-4.jpg);
    }
}
#gallery-group-2 {
    animation: cycleGroup2 110s infinite;
    animation-timing-function: ease-in-out;
}
@keyframes cycleGroup2 {
    4.5454% {
        background-image: url(images/gallery-group-2/corporate-hangar-1.jpg);
    }
    9.0908% {
        background-image: url(images/gallery-group-2/corporate-hangar-2.jpg);
    }
    13.6362% {
        background-image: url(images/gallery-group-2/corporate-hangar-3.jpg);
    }
    18.1816% {
        background-image: url(images/gallery-group-2/corporate-hangar-4.jpg);
    }
    22.727% {
        background-image: url(images/gallery-group-2/corporate-hangar-5.jpg);
    }
    27.2724% {
        background-image: url(images/gallery-group-2/corporate-hangar-6.jpg);
    }
    31.8178% {
        background-image: url(images/gallery-group-2/hangar-1.jpg);
    }
    36.3632% {
        background-image: url(images/gallery-group-2/hangar-2.jpg);
    }
    40.9086% {
        background-image: url(images/gallery-group-2/hangar-3.jpg);
    }
    45.454% {
        background-image: url(images/gallery-group-2/hangar-4.jpg);
    }
    50% {
        background-image: url(images/gallery-group-2/hangar-5.jpg);
    }
    54.5454% {
        background-image: url(images/gallery-group-2/hangar-6.jpg);
    }
    59.0908% {
        background-image: url(images/gallery-group-2/private-hangar-1.jpg);
    }
    63.6362% {
        background-image: url(images/gallery-group-2/private-hangar-2.jpg);
    }
    68.1816% {
        background-image: url(images/gallery-group-2/private-hangar-3.jpg);
    }
    72.727% {
        background-image: url(images/gallery-group-2/private-hangar-4.jpg);
    }
    77.2724% {
        background-image: url(images/gallery-group-2/private-hangar-5.jpg);
    }
    81.8178% {
        background-image: url(images/gallery-group-2/service-hangar-1.jpg);
    }
    86.3632% {
        background-image: url(images/gallery-group-2/service-hangar-2.jpg);
    }
    90.9086% {
        background-image: url(images/gallery-group-2/service-hangar-3.jpg);
    }
    95.454% {
        background-image: url(images/gallery-group-2/service-hangar-4.jpg);
    }
    100% {
        background-image: url(images/gallery-group-2/service-hangar-5.jpg);
    }
}
#gallery-group-3 {
    animation: cycleGroup3 40s infinite;
    animation-timing-function: ease-in-out;
}
@keyframes cycleGroup3 {
    0% {
        background-image: url(images/gallery-group-3/powerplant-1.jpg);
    }
    14.2857% {
        background-image: url(images/gallery-group-3/powerplant-2.jpg);
    }
    28.5714% {
        background-image: url(images/gallery-group-3/powerplant-3.jpg);
    }
    42.8571% {
        background-image: url(images/gallery-group-3/powerplant-4.jpg);
    }
    57.1428% {
        background-image: url(images/gallery-group-3/powerplant-5.jpg);
    }
    71.4285% {
        background-image: url(images/gallery-group-3/powerplant-6.jpg);
    }
    85.7141% {
        background-image: url(images/gallery-group-3/powerplant-7.jpg);
    }
    100% {
        background-image: url(images/gallery-group-3/powerplant-8.jpg);
    }
}
video {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -1;
    border: none;
}
.systems-video-tech {
    background-color: rgba(255, 255, 255, 0.95);
    overflow: auto;
    text-align: center;
    color: #7a7a7a;
}
h1, h2, h3, h4 {
    font-family: 'Orbitron', sans-serif;
}
h1, h2 {
    font-weight: lighter;
    text-align: center;
    margin: 80px 0 40px
}
h1 {
    font-size: 36pt;
}
h2 {
    font-size: 24pt;
    text-shadow: 0 5px 7px rgba(0, 0, 0, 0.25);
}
h3 {
    font-size: 16pt;
    text-shadow: 0 5px 7px rgba(0, 0, 0, 0.25);
}
h4 {
    font-size: 10pt;
}
p, li {
    font-size: 16pt;
    line-height: 30px;
    font-family: 'Abel', sans-serif;
}
.technology {
    background-color: rgba(138, 148, 138, 0.96);
    overflow: auto;
    color: #ffffff;
}
.content {
    width: 80%;
    max-width: 900px;
    margin: 0 auto;
    padding: 50px 0;
}
.functions-diagram {
    width: 100%;
}
.functions-outline {
    overflow: auto;
}
.functions-outline li {
    color: #2e2e2e;
}
.example-system {
   width: 100%; 
}